.mrow{
    margin: 20px;
}
.b{
    margin: 30px;
}
.h {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.himg{
    margin: 20px;
}
.srow{
    margin: 30px;
    margin-left: 350px;
}